<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">

        <div class="col mt-3 mb-3">
            <span class="h1 text-center fw-bold text-primary">
                ⚡ Dashboard 🚀
            </span>
        </div>

        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/55/47/71/1000_F_255477167_TH4Ih5y4j6rKepiscROmzQ5KnGpBPybj.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title
                    ">Departamentos</h5>
                        <p class="card-text">Crea, edita, actualiza y elimina</p>
                        <a href="/departments" class="btn btn-primary btn-sm">Gestionar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/55/47/71/1000_F_255477167_TH4Ih5y4j6rKepiscROmzQ5KnGpBPybj.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title
                    ">Municipios</h5>
                        <p class="card-text">Crea, edita, actualiza y elimina</p>
                        <a href="/municipalities" class="btn btn-primary btn-sm">Gestionar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/55/47/71/1000_F_255477167_TH4Ih5y4j6rKepiscROmzQ5KnGpBPybj.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title
                    ">Lugares</h5>
                        <p class="card-text">Crea, edita, actualiza y elimina</p>
                        <a href="#" class="btn btn-primary btn-sm">Gestionar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/55/47/71/1000_F_255477167_TH4Ih5y4j6rKepiscROmzQ5KnGpBPybj.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title
                    ">Estudiantes</h5>
                        <p class="card-text">Crea, edita, actualiza y elimina</p>
                        <a href="#" class="btn btn-primary btn-sm">Gestionar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/55/47/71/1000_F_255477167_TH4Ih5y4j6rKepiscROmzQ5KnGpBPybj.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title
                    ">Programas</h5>
                        <p class="card-text">Crea, edita, actualiza y elimina</p>
                        <a href="#" class="btn btn-primary btn-sm">Gestionar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/55/47/71/1000_F_255477167_TH4Ih5y4j6rKepiscROmzQ5KnGpBPybj.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title
                    ">Otra cosa</h5>
                        <p class="card-text">Crea, edita, actualiza y elimina</p>
                        <a href="#" class="btn btn-primary btn-sm">Gestionar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>